{% extends "base.html" %}
{% load static %}

<link href="{% static 'css/event_detail.css' %}" rel="stylesheet">
<link href="{% static 'css/a_date.css' %}" rel="stylesheet">
{% block content %}

<div class="container-fluid cov" style=
"background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
url(/media/{{ event.image }});">
	<div class="container covertext">
		<p class="text-white h4">{{event.get_event_type_display}} | {{event.datetime}}  | {% for tag in event.tags.all %}{{tag.name}} {% endfor %}</p>
		<h1 class="display-1 font-weight-bold text-white">{{event.name}}</h1>
		<h2 class="text-white font-weight-bold"><a href="/places/{{event.place.pk}}" class="placelink"> @ {{event.place}} </a></h2>
		<a href="{{event.link}}" class="btn btn-outline-warning btn-lg font-weight-bold" style="border-radius: 32px; margin-top:20px;">Купить билеты</a>
	</div>
</div>

<div class = "container">
<div class = "row">
<div class="container eventtext">
	<div class="col">
		<h1 class="font-weight-bold display-4" style="padding-bottom: 20px">О мероприятии</h1>
		<p> {{event.description}} </p>
		<h1 class="font-weight-bold display-4" style="padding-bottom: 20px">Артисты</h1>
		<div class="col">
			<div class="row">
				{% for artist in artists %}
				
				<div class="col-md-4">
					<a href="/artists/{{ artist.pk }}/" class="divLink">
					<div class="card mb-4 border-white">
						<img class="card-img-top rounded"src= "/media/{{ artist.image }}" width=340 height=220 style="object-fit: cover;"><title> {{ artist.name }} </title>
						<div class="card-body" style="padding-left: 5px">
							<h3 class="card-title font-weight-bold" style="margin-bottom:0px"> {{ artist.name }} </h3>
							<div class="d-flex justify-content-between align-items-center">
							<div class="text-muted gray_small mt0"> {% for tag in artist.tags.all %} {{tag.name}} {% endfor %} </div>
							</div>
						</div>
					</div>
					</a>
				</div>
        
        {% endfor %}

			</div>
		</div>

		<h1 class="font-weight-bold display-4" style="padding-bottom: 20px">Организаторы</h1>
		<div class="col">
			<div class="row">
				{% for org in orgs %}
        
				<div class="col-md-4">
					<a href="/orgs/{{ org.pk }}/" class="divLink">
					<div class="card mb-4 border-white">
						<img class="card-img-top rounded" width=340 height=220 style="object-fit: cover;" src= "/media/{{ org.image }}"><title> {{ org.name }} </title>
					<div class="card-body" style="padding-left: 5px">
						<h3 class="card-title font-weight-bold" style="margin-bottom:0px;"> {{ org.name }} </h3>
						<div class="d-flex justify-content-between align-items-center">
							<div class="text-muted gray_small mt0"> {% for tag in org.tags.all %} {{tag.name}} {% endfor %} </div>
						</div>
					</div>
					</div>
					</a>
				</div>
        
        		{% endfor %}

			</div>
		</div>

	</div>
</div>
</div>
</div>

{% endblock %}